[submodule "roles/ansible"]
	path = roles/ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/bootstrap"]
	path = roles/bootstrap
	url = https://github.com/alvistack/ansible-role-bootstrap.git
	branch = develop
[submodule "roles/buildah"]
	path = roles/buildah
	url = https://github.com/alvistack/ansible-role-buildah.git
	branch = develop
[submodule "roles/conmon"]
	path = roles/conmon
	url = https://github.com/alvistack/ansible-role-conmon.git
	branch = develop
[submodule "roles/containernetworking_plugins"]
	path = roles/containernetworking_plugins
	url = https://github.com/alvistack/ansible-role-containernetworking_plugins.git
	branch = develop
[submodule "roles/containers_common"]
	path = roles/containers_common
	url = https://github.com/alvistack/ansible-role-containers_common.git
	branch = develop
[submodule "roles/crun"]
	path = roles/crun
	url = https://github.com/alvistack/ansible-role-crun.git
	branch = develop
[submodule "roles/flatpak"]
	path = roles/flatpak
	url = https://github.com/alvistack/ansible-role-flatpak.git
	branch = develop
[submodule "roles/git"]
	path = roles/git
	url = https://github.com/alvistack/ansible-role-git.git
	branch = develop
[submodule "roles/gnome_desktop"]
	path = roles/gnome_desktop
	url = https://github.com/alvistack/ansible-role-gnome_desktop.git
	branch = develop
[submodule "roles/golang"]
	path = roles/golang
	url = https://github.com/alvistack/ansible-role-golang.git
	branch = develop
[submodule "roles/gparted"]
	path = roles/gparted
	url = https://github.com/alvistack/ansible-role-gparted.git
	branch = develop
[submodule "roles/helm"]
	path = roles/helm
	url = https://github.com/alvistack/ansible-role-helm.git
	branch = develop
[submodule "roles/hibernate"]
	path = roles/hibernate
	url = https://github.com/alvistack/ansible-role-hibernate.git
	branch = develop
[submodule "roles/kernel"]
	path = roles/kernel
	url = https://github.com/alvistack/ansible-role-kernel.git
	branch = develop
[submodule "roles/libvirt"]
	path = roles/libvirt
	url = https://github.com/alvistack/ansible-role-libvirt.git
	branch = develop
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/molecule"]
	path = roles/molecule
	url = https://github.com/alvistack/ansible-role-molecule.git
	branch = develop
[submodule "roles/node"]
	path = roles/node
	url = https://github.com/alvistack/ansible-role-node.git
	branch = develop
[submodule "roles/openjdk"]
	path = roles/openjdk
	url = https://github.com/alvistack/ansible-role-openjdk.git
	branch = develop
[submodule "roles/operator_sdk"]
	path = roles/operator_sdk
	url = https://github.com/alvistack/ansible-role-operator_sdk.git
	branch = develop
[submodule "roles/osc"]
	path = roles/osc
	url = https://github.com/alvistack/ansible-role-osc.git
	branch = develop
[submodule "roles/packer"]
	path = roles/packer
	url = https://github.com/alvistack/ansible-role-packer.git
	branch = develop
[submodule "roles/php"]
	path = roles/php
	url = https://github.com/alvistack/ansible-role-php.git
	branch = develop
[submodule "roles/picard"]
	path = roles/picard
	url = https://github.com/alvistack/ansible-role-picard.git
	branch = develop
[submodule "roles/podman"]
	path = roles/podman
	url = https://github.com/alvistack/ansible-role-podman.git
	branch = develop
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/rclone"]
	path = roles/rclone
	url = https://github.com/alvistack/ansible-role-rclone.git
	branch = develop
[submodule "roles/remmina"]
	path = roles/remmina
	url = https://github.com/alvistack/ansible-role-remmina.git
	branch = develop
[submodule "roles/restic"]
	path = roles/restic
	url = https://github.com/alvistack/ansible-role-restic.git
	branch = develop
[submodule "roles/scribus"]
	path = roles/scribus
	url = https://github.com/alvistack/ansible-role-scribus.git
	branch = develop
[submodule "roles/simple_scan"]
	path = roles/simple_scan
	url = https://github.com/alvistack/ansible-role-simple_scan.git
	branch = develop
[submodule "roles/skopeo"]
	path = roles/skopeo
	url = https://github.com/alvistack/ansible-role-skopeo.git
	branch = develop
[submodule "roles/sqlite"]
	path = roles/sqlite
	url = https://github.com/alvistack/ansible-role-sqlite.git
	branch = develop
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/teams"]
	path = roles/teams
	url = https://github.com/alvistack/ansible-role-teams.git
	branch = develop
[submodule "roles/teamviewer"]
	path = roles/teamviewer
	url = https://github.com/alvistack/ansible-role-teamviewer.git
	branch = develop
[submodule "roles/thunderbird"]
	path = roles/thunderbird
	url = https://github.com/alvistack/ansible-role-thunderbird.git
	branch = develop
[submodule "roles/timezone"]
	path = roles/timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
[submodule "roles/transmission"]
	path = roles/transmission
	url = https://github.com/alvistack/ansible-role-transmission.git
	branch = develop
[submodule "roles/uget"]
	path = roles/uget
	url = https://github.com/alvistack/ansible-role-uget.git
	branch = develop
[submodule "roles/vagrant"]
	path = roles/vagrant
	url = https://github.com/alvistack/ansible-role-vagrant.git
	branch = develop
[submodule "roles/vim"]
	path = roles/vim
	url = https://github.com/alvistack/ansible-role-vim.git
	branch = develop
[submodule "roles/virtualbox"]
	path = roles/virtualbox
	url = https://github.com/alvistack/ansible-role-virtualbox.git
	branch = develop
[submodule "roles/vlc"]
	path = roles/vlc
	url = https://github.com/alvistack/ansible-role-vlc.git
	branch = develop
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = https://github.com/alvistack/ansible-role-wireguard.git
	branch = develop
[submodule "roles/zoom"]
	path = roles/zoom
	url = https://github.com/alvistack/ansible-role-zoom.git
	branch = develop
[submodule "roles/zram_generator"]
	path = roles/zram_generator
	url = https://github.com/alvistack/ansible-role-zram_generator.git
	branch = develop
[submodule "roles/flatpak_virt_manager"]
	path = roles/flatpak_virt_manager
	url = https://github.com/alvistack/ansible-role-flatpak_virt_manager.git
	branch = develop
[submodule "roles/openconnect"]
	path = roles/openconnect
	url = https://github.com/alvistack/ansible-role-openconnect.git
	branch = develop
[submodule "roles/flatpak_audacious"]
	path = roles/flatpak_audacious
	url = https://github.com/alvistack/ansible-role-flatpak_audacious.git
	branch = develop
[submodule "roles/flatpak_audacity"]
	path = roles/flatpak_audacity
	url = https://github.com/alvistack/ansible-role-flatpak_audacity.git
	branch = develop
[submodule "roles/flatpak_bleachbit"]
	path = roles/flatpak_bleachbit
	url = https://github.com/alvistack/ansible-role-flatpak_bleachbit.git
	branch = develop
[submodule "roles/flatpak_blender"]
	path = roles/flatpak_blender
	url = https://github.com/alvistack/ansible-role-flatpak_blender.git
	branch = develop
[submodule "roles/flatpak_baobab"]
	path = roles/flatpak_baobab
	url = https://github.com/alvistack/ansible-role-flatpak_baobab.git
	branch = develop
[submodule "roles/flatpak_chrome"]
	path = roles/flatpak_chrome
	url = https://github.com/alvistack/ansible-role-flatpak_chrome
	branch = develop
[submodule "roles/flatpak_code"]
	path = roles/flatpak_code
	url = https://github.com/alvistack/ansible-role-flatpak_code
	branch = develop
[submodule "roles/flatpak_darktable"]
	path = roles/flatpak_darktable
	url = https://github.com/alvistack/ansible-role-flatpak_darktable
	branch = develop
[submodule "roles/flatpak_eog"]
	path = roles/flatpak_eog
	url = https://github.com/alvistack/ansible-role-flatpak_eog
	branch = develop
[submodule "roles/flatpak_evince"]
	path = roles/flatpak_evince
	url = https://github.com/alvistack/ansible-role-flatpak_evince
	branch = develop
[submodule "roles/flatpak_filezilla"]
	path = roles/flatpak_filezilla
	url = https://github.com/alvistack/ansible-role-flatpak_filezilla
	branch = develop
[submodule "roles/flatpak_firefox"]
	path = roles/flatpak_firefox
	url = https://github.com/alvistack/ansible-role-flatpak_firefox
	branch = develop
[submodule "roles/flatpak_gimp"]
	path = roles/flatpak_gimp
	url = https://github.com/alvistack/ansible-role-flatpak_gimp
	branch = develop
[submodule "roles/flatpak_gnucash"]
	path = roles/flatpak_gnucash
	url = https://github.com/alvistack/ansible-role-flatpak_gnucash
	branch = develop
[submodule "roles/flatpak_handbrake"]
	path = roles/flatpak_handbrake
	url = https://github.com/alvistack/ansible-role-flatpak_handbrake
	branch = develop
[submodule "roles/flatpak_inkscape"]
	path = roles/flatpak_inkscape
	url = https://github.com/alvistack/ansible-role-flatpak_inkscape
	branch = develop
[submodule "roles/flatpak_libreoffice"]
	path = roles/flatpak_libreoffice
	url = https://github.com/alvistack/ansible-role-flatpak_libreoffice
	branch = develop
[submodule "roles/flatpak_obs_studio"]
	path = roles/flatpak_obs_studio
	url = https://github.com/alvistack/ansible-role-flatpak_obs_studio
	branch = develop
[submodule "roles/flatpak_owasp_zap"]
	path = roles/flatpak_owasp_zap
	url = https://github.com/alvistack/ansible-role-flatpak_owasp_zap
	branch = develop
