[submodule "roles/alvistack.ansible"]
	path = roles/alvistack.ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/alvistack.audacious"]
	path = roles/alvistack.audacious
	url = https://github.com/alvistack/ansible-role-audacious.git
	branch = develop
[submodule "roles/alvistack.audacity"]
	path = roles/alvistack.audacity
	url = https://github.com/alvistack/ansible-role-audacity.git
	branch = develop
[submodule "roles/alvistack.bleachbit"]
	path = roles/alvistack.bleachbit
	url = https://github.com/alvistack/ansible-role-bleachbit.git
	branch = develop
[submodule "roles/alvistack.blender"]
	path = roles/alvistack.blender
	url = https://github.com/alvistack/ansible-role-blender.git
	branch = develop
[submodule "roles/alvistack.bootstrap"]
	path = roles/alvistack.bootstrap
	url = https://github.com/alvistack/ansible-role-bootstrap.git
	branch = develop
[submodule "roles/alvistack.buildah"]
	path = roles/alvistack.buildah
	url = https://github.com/alvistack/ansible-role-buildah.git
	branch = develop
[submodule "roles/alvistack.chrome"]
	path = roles/alvistack.chrome
	url = https://github.com/alvistack/ansible-role-chrome.git
	branch = develop
[submodule "roles/alvistack.code"]
	path = roles/alvistack.code
	url = https://github.com/alvistack/ansible-role-code.git
	branch = develop
[submodule "roles/alvistack.conmon"]
	path = roles/alvistack.conmon
	url = https://github.com/alvistack/ansible-role-conmon.git
	branch = develop
[submodule "roles/alvistack.containernetworking_plugins"]
	path = roles/alvistack.containernetworking_plugins
	url = https://github.com/alvistack/ansible-role-containernetworking_plugins.git
	branch = develop
[submodule "roles/alvistack.containers_common"]
	path = roles/alvistack.containers_common
	url = https://github.com/alvistack/ansible-role-containers_common.git
	branch = develop
[submodule "roles/alvistack.crun"]
	path = roles/alvistack.crun
	url = https://github.com/alvistack/ansible-role-crun.git
	branch = develop
[submodule "roles/alvistack.darktable"]
	path = roles/alvistack.darktable
	url = https://github.com/alvistack/ansible-role-darktable.git
	branch = develop
[submodule "roles/alvistack.filezilla"]
	path = roles/alvistack.filezilla
	url = https://github.com/alvistack/ansible-role-filezilla.git
	branch = develop
[submodule "roles/alvistack.firefox"]
	path = roles/alvistack.firefox
	url = https://github.com/alvistack/ansible-role-firefox.git
	branch = develop
[submodule "roles/alvistack.flatpak"]
	path = roles/alvistack.flatpak
	url = https://github.com/alvistack/ansible-role-flatpak.git
	branch = develop
[submodule "roles/alvistack.gimp"]
	path = roles/alvistack.gimp
	url = https://github.com/alvistack/ansible-role-gimp.git
	branch = develop
[submodule "roles/alvistack.git"]
	path = roles/alvistack.git
	url = https://github.com/alvistack/ansible-role-git.git
	branch = develop
[submodule "roles/alvistack.gnome_desktop"]
	path = roles/alvistack.gnome_desktop
	url = https://github.com/alvistack/ansible-role-gnome_desktop.git
	branch = develop
[submodule "roles/alvistack.gnucash"]
	path = roles/alvistack.gnucash
	url = https://github.com/alvistack/ansible-role-gnucash.git
	branch = develop
[submodule "roles/alvistack.golang"]
	path = roles/alvistack.golang
	url = https://github.com/alvistack/ansible-role-golang.git
	branch = develop
[submodule "roles/alvistack.gparted"]
	path = roles/alvistack.gparted
	url = https://github.com/alvistack/ansible-role-gparted.git
	branch = develop
[submodule "roles/alvistack.handbrake"]
	path = roles/alvistack.handbrake
	url = https://github.com/alvistack/ansible-role-handbrake.git
	branch = develop
[submodule "roles/alvistack.hibernate"]
	path = roles/alvistack.hibernate
	url = https://github.com/alvistack/ansible-role-hibernate.git
	branch = develop
[submodule "roles/alvistack.inkscape"]
	path = roles/alvistack.inkscape
	url = https://github.com/alvistack/ansible-role-inkscape.git
	branch = develop
[submodule "roles/alvistack.kernel"]
	path = roles/alvistack.kernel
	url = https://github.com/alvistack/ansible-role-kernel.git
	branch = develop
[submodule "roles/alvistack.libreoffice"]
	path = roles/alvistack.libreoffice
	url = https://github.com/alvistack/ansible-role-libreoffice.git
	branch = develop
[submodule "roles/alvistack.libvirt"]
	path = roles/alvistack.libvirt
	url = https://github.com/alvistack/ansible-role-libvirt.git
	branch = develop
[submodule "roles/alvistack.locales"]
	path = roles/alvistack.locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/alvistack.molecule"]
	path = roles/alvistack.molecule
	url = https://github.com/alvistack/ansible-role-molecule.git
	branch = develop
[submodule "roles/alvistack.node"]
	path = roles/alvistack.node
	url = https://github.com/alvistack/ansible-role-node.git
	branch = develop
[submodule "roles/alvistack.obs_studio"]
	path = roles/alvistack.obs_studio
	url = https://github.com/alvistack/ansible-role-obs_studio.git
	branch = develop
[submodule "roles/alvistack.openjdk"]
	path = roles/alvistack.openjdk
	url = https://github.com/alvistack/ansible-role-openjdk.git
	branch = develop
[submodule "roles/alvistack.owasp_zap"]
	path = roles/alvistack.owasp_zap
	url = https://github.com/alvistack/ansible-role-owasp_zap.git
	branch = develop
[submodule "roles/alvistack.packer"]
	path = roles/alvistack.packer
	url = https://github.com/alvistack/ansible-role-packer.git
	branch = develop
[submodule "roles/alvistack.php"]
	path = roles/alvistack.php
	url = https://github.com/alvistack/ansible-role-php.git
	branch = develop
[submodule "roles/alvistack.picard"]
	path = roles/alvistack.picard
	url = https://github.com/alvistack/ansible-role-picard.git
	branch = develop
[submodule "roles/alvistack.podman"]
	path = roles/alvistack.podman
	url = https://github.com/alvistack/ansible-role-podman.git
	branch = develop
[submodule "roles/alvistack.python"]
	path = roles/alvistack.python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/alvistack.rclone"]
	path = roles/alvistack.rclone
	url = https://github.com/alvistack/ansible-role-rclone.git
	branch = develop
[submodule "roles/alvistack.restic"]
	path = roles/alvistack.restic
	url = https://github.com/alvistack/ansible-role-restic.git
	branch = develop
[submodule "roles/alvistack.runc"]
	path = roles/alvistack.runc
	url = https://github.com/alvistack/ansible-role-runc.git
	branch = develop
[submodule "roles/alvistack.scribus"]
	path = roles/alvistack.scribus
	url = https://github.com/alvistack/ansible-role-scribus.git
	branch = develop
[submodule "roles/alvistack.skopeo"]
	path = roles/alvistack.skopeo
	url = https://github.com/alvistack/ansible-role-skopeo.git
	branch = develop
[submodule "roles/alvistack.sqlite"]
	path = roles/alvistack.sqlite
	url = https://github.com/alvistack/ansible-role-sqlite.git
	branch = develop
[submodule "roles/alvistack.sshd"]
	path = roles/alvistack.sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/alvistack.teams"]
	path = roles/alvistack.teams
	url = https://github.com/alvistack/ansible-role-teams.git
	branch = develop
[submodule "roles/alvistack.teamviewer"]
	path = roles/alvistack.teamviewer
	url = https://github.com/alvistack/ansible-role-teamviewer.git
	branch = develop
[submodule "roles/alvistack.thunderbird"]
	path = roles/alvistack.thunderbird
	url = https://github.com/alvistack/ansible-role-thunderbird.git
	branch = develop
[submodule "roles/alvistack.timezone"]
	path = roles/alvistack.timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
[submodule "roles/alvistack.transmission"]
	path = roles/alvistack.transmission
	url = https://github.com/alvistack/ansible-role-transmission.git
	branch = develop
[submodule "roles/alvistack.uget"]
	path = roles/alvistack.uget
	url = https://github.com/alvistack/ansible-role-uget.git
	branch = develop
[submodule "roles/alvistack.vagrant"]
	path = roles/alvistack.vagrant
	url = https://github.com/alvistack/ansible-role-vagrant.git
	branch = develop
[submodule "roles/alvistack.vim"]
	path = roles/alvistack.vim
	url = https://github.com/alvistack/ansible-role-vim.git
	branch = develop
[submodule "roles/alvistack.virtualbox"]
	path = roles/alvistack.virtualbox
	url = https://github.com/alvistack/ansible-role-virtualbox.git
	branch = develop
[submodule "roles/alvistack.vlc"]
	path = roles/alvistack.vlc
	url = https://github.com/alvistack/ansible-role-vlc.git
	branch = develop
[submodule "roles/alvistack.wireguard"]
	path = roles/alvistack.wireguard
	url = https://github.com/alvistack/ansible-role-wireguard.git
	branch = develop
[submodule "roles/alvistack.zram_generator"]
	path = roles/alvistack.zram_generator
	url = https://github.com/alvistack/ansible-role-zram_generator.git
	branch = develop
