[submodule "roles/ansible"]
	path = roles/ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/audacious"]
	path = roles/audacious
	url = https://github.com/alvistack/ansible-role-audacious.git
	branch = develop
[submodule "roles/audacity"]
	path = roles/audacity
	url = https://github.com/alvistack/ansible-role-audacity.git
	branch = develop
[submodule "roles/bleachbit"]
	path = roles/bleachbit
	url = https://github.com/alvistack/ansible-role-bleachbit.git
	branch = develop
[submodule "roles/blender"]
	path = roles/blender
	url = https://github.com/alvistack/ansible-role-blender.git
	branch = develop
[submodule "roles/bootstrap"]
	path = roles/bootstrap
	url = https://github.com/alvistack/ansible-role-bootstrap.git
	branch = develop
[submodule "roles/buildah"]
	path = roles/buildah
	url = https://github.com/alvistack/ansible-role-buildah.git
	branch = develop
[submodule "roles/chrome"]
	path = roles/chrome
	url = https://github.com/alvistack/ansible-role-chrome.git
	branch = develop
[submodule "roles/code"]
	path = roles/code
	url = https://github.com/alvistack/ansible-role-code.git
	branch = develop
[submodule "roles/conmon"]
	path = roles/conmon
	url = https://github.com/alvistack/ansible-role-conmon.git
	branch = develop
[submodule "roles/containernetworking_plugins"]
	path = roles/containernetworking_plugins
	url = https://github.com/alvistack/ansible-role-containernetworking_plugins.git
	branch = develop
[submodule "roles/containers_common"]
	path = roles/containers_common
	url = https://github.com/alvistack/ansible-role-containers_common.git
	branch = develop
[submodule "roles/crun"]
	path = roles/crun
	url = https://github.com/alvistack/ansible-role-crun.git
	branch = develop
[submodule "roles/darktable"]
	path = roles/darktable
	url = https://github.com/alvistack/ansible-role-darktable.git
	branch = develop
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/alvistack/ansible-role-docker.git
	branch = develop
[submodule "roles/filezilla"]
	path = roles/filezilla
	url = https://github.com/alvistack/ansible-role-filezilla.git
	branch = develop
[submodule "roles/firefox"]
	path = roles/firefox
	url = https://github.com/alvistack/ansible-role-firefox.git
	branch = develop
[submodule "roles/flatpak"]
	path = roles/flatpak
	url = https://github.com/alvistack/ansible-role-flatpak.git
	branch = develop
[submodule "roles/gimp"]
	path = roles/gimp
	url = https://github.com/alvistack/ansible-role-gimp.git
	branch = develop
[submodule "roles/git"]
	path = roles/git
	url = https://github.com/alvistack/ansible-role-git.git
	branch = develop
[submodule "roles/gnome_desktop"]
	path = roles/gnome_desktop
	url = https://github.com/alvistack/ansible-role-gnome_desktop.git
	branch = develop
[submodule "roles/gnucash"]
	path = roles/gnucash
	url = https://github.com/alvistack/ansible-role-gnucash.git
	branch = develop
[submodule "roles/golang"]
	path = roles/golang
	url = https://github.com/alvistack/ansible-role-golang.git
	branch = develop
[submodule "roles/gparted"]
	path = roles/gparted
	url = https://github.com/alvistack/ansible-role-gparted.git
	branch = develop
[submodule "roles/handbrake"]
	path = roles/handbrake
	url = https://github.com/alvistack/ansible-role-handbrake.git
	branch = develop
[submodule "roles/hibernate"]
	path = roles/hibernate
	url = https://github.com/alvistack/ansible-role-hibernate.git
	branch = develop
[submodule "roles/inkscape"]
	path = roles/inkscape
	url = https://github.com/alvistack/ansible-role-inkscape.git
	branch = develop
[submodule "roles/kernel"]
	path = roles/kernel
	url = https://github.com/alvistack/ansible-role-kernel.git
	branch = develop
[submodule "roles/libreoffice"]
	path = roles/libreoffice
	url = https://github.com/alvistack/ansible-role-libreoffice.git
	branch = develop
[submodule "roles/libvirt"]
	path = roles/libvirt
	url = https://github.com/alvistack/ansible-role-libvirt.git
	branch = develop
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/molecule"]
	path = roles/molecule
	url = https://github.com/alvistack/ansible-role-molecule.git
	branch = develop
[submodule "roles/node"]
	path = roles/node
	url = https://github.com/alvistack/ansible-role-node.git
	branch = develop
[submodule "roles/obs_studio"]
	path = roles/obs_studio
	url = https://github.com/alvistack/ansible-role-obs_studio.git
	branch = develop
[submodule "roles/openjdk"]
	path = roles/openjdk
	url = https://github.com/alvistack/ansible-role-openjdk.git
	branch = develop
[submodule "roles/owasp_zap"]
	path = roles/owasp_zap
	url = https://github.com/alvistack/ansible-role-owasp_zap.git
	branch = develop
[submodule "roles/packer"]
	path = roles/packer
	url = https://github.com/alvistack/ansible-role-packer.git
	branch = develop
[submodule "roles/php"]
	path = roles/php
	url = https://github.com/alvistack/ansible-role-php.git
	branch = develop
[submodule "roles/picard"]
	path = roles/picard
	url = https://github.com/alvistack/ansible-role-picard.git
	branch = develop
[submodule "roles/podman"]
	path = roles/podman
	url = https://github.com/alvistack/ansible-role-podman.git
	branch = develop
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/rclone"]
	path = roles/rclone
	url = https://github.com/alvistack/ansible-role-rclone.git
	branch = develop
[submodule "roles/restic"]
	path = roles/restic
	url = https://github.com/alvistack/ansible-role-restic.git
	branch = develop
[submodule "roles/runc"]
	path = roles/runc
	url = https://github.com/alvistack/ansible-role-runc.git
	branch = develop
[submodule "roles/scribus"]
	path = roles/scribus
	url = https://github.com/alvistack/ansible-role-scribus.git
	branch = develop
[submodule "roles/skopeo"]
	path = roles/skopeo
	url = https://github.com/alvistack/ansible-role-skopeo.git
	branch = develop
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/teams"]
	path = roles/teams
	url = https://github.com/alvistack/ansible-role-teams.git
	branch = develop
[submodule "roles/teamviewer"]
	path = roles/teamviewer
	url = https://github.com/alvistack/ansible-role-teamviewer.git
	branch = develop
[submodule "roles/thunderbird"]
	path = roles/thunderbird
	url = https://github.com/alvistack/ansible-role-thunderbird.git
	branch = develop
[submodule "roles/timezone"]
	path = roles/timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
[submodule "roles/transmission"]
	path = roles/transmission
	url = https://github.com/alvistack/ansible-role-transmission.git
	branch = develop
[submodule "roles/uget"]
	path = roles/uget
	url = https://github.com/alvistack/ansible-role-uget.git
	branch = develop
[submodule "roles/vagrant"]
	path = roles/vagrant
	url = https://github.com/alvistack/ansible-role-vagrant.git
	branch = develop
[submodule "roles/vim"]
	path = roles/vim
	url = https://github.com/alvistack/ansible-role-vim.git
	branch = develop
[submodule "roles/virtualbox"]
	path = roles/virtualbox
	url = https://github.com/alvistack/ansible-role-virtualbox.git
	branch = develop
[submodule "roles/vlc"]
	path = roles/vlc
	url = https://github.com/alvistack/ansible-role-vlc.git
	branch = develop
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = https://github.com/alvistack/ansible-role-wireguard.git
	branch = develop
[submodule "roles/zram_generator"]
	path = roles/zram_generator
	url = https://github.com/alvistack/ansible-role-zram_generator.git
	branch = develop
